h1{
  display:flex;
  place-content: center;
}

.Searchbar{
  margin-top:50px;
  display:flex;
  place-content:center;
}

.card{
  display:inline-block;
}

.icons{
  display:flex;
  flex-direction: column;
}

body{
  background-color:lightblue;
}


